.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #2ad0d6;
  font-family: "Nunito", sans-serif;
}
h1 {
  margin: 25px;
}
